%h1 Listing nodes

%table
  %tr
    %th Source
    %th Target
    %th
    %th
    %th

  - @nodes.each do |node|
    %tr
      %td= node.source
      %td= node.target
      %td= link_to 'Show', node
      %td= link_to 'Edit', edit_node_path(node)
      %td= link_to 'Destroy', node, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- this_is_your_view_helper_method.html_safe

= link_to 'New Node', new_node_path
