= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :event_name
    = f.input :file
    = f.input :line
    = f.input :classname
    = f.input :id

  .form-actions
    = f.button :submit
