%h1 Listing events

%table
  %tr
    %th Event name
    %th File
    %th Line
    %th Classname
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.id
      %td= event.event_name
      %td= event.file
      %td= event.line
      %td= event.classname
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

  %span{:class => "widget_#{@hash}"}
  
  - @events.each do |event|
    %tr
      %td= event.classname

    end

%br



= link_to 'New Event', new_event_path
